/* ----Universal Style------*/
* {
box-sizing: border-box;
}

/* ----Base Styles------*/

body {
font-weight: 100;
background-color: lightcyan;
text-align: center;
font-size: 16px;
font-family: 'Lato', sans-serif;
}

ul {
padding: 0;
}

main {
background-color: white;
width: 90%;
margin: 0 auto;

}
main img {
width: 100%;
}

main p {
padding:5px;
margin: 0 auto;
color: slategrey;
/* font-weight: 600; */
line-height: 1.4em;
font-size: 1.2rem;
}

/* ----Link Styles------*/

header a  {
padding: 10px 3.5em;
text-decoration: none;
font-weight: 800;
} 
footer a {
padding: 10px 15px;
text-decoration: none;
font-weight: 700;
}
a:active {
color: lightcoral;
}

/* ----Section Styles------*/

.main-header{
padding-top: .5em;
padding-bottom: .5em;
}

.main-nav li {
list-style-type: none;
border-radius: 10px;
padding: 7px 15px;
font-size:  1.4em; 
margin: 10px;
background-color: whitesmoke;
}

.profile{
border-top: white solid 5px;
width: 90%;
margin: auto;
}
.profileimg-kol {
width: 100%;
}

.profilebg-kol {
padding: 10px;
margin: 0 auto;
font-size: 1.4em;
color: slategrey;
/* font-weight: 700; */
line-height: 1.4;
}

.portfolio {
margin-top: 70px;
margin-bottom: 35px;
}

.card {
    padding-bottom: 10%;
}

.skills-div{
width: 90%;
margin: auto;
background-color: antiquewhite;
padding-bottom: 25px;
font-size: 1.2rem;
}

.devskills {
width: 75%;
}  

.skills {
list-style-type: none;
/* font-weight: 600; */
line-height: 1.4em;
}
.core {
text-decoration: underline;
font-size: 1.4em;
}

#Contact {
margin-top: 100px;
}

.contact-p {
font-weight: 600;
margin-left: 9px;
}
.contact-footer p{
font-weight:  600;
line-height: 1.4em;

}

.main-footer{
display: flex;
margin-left: 3%;
width: 94%;
}

.footer-name{
margin-right: auto;
}

.footer-nav li {
list-style-type: none;
padding: 5px;
font-size:  15px; 
margin: 10px;


}
.main-footer {
border-top: white solid 5px;
}

.desktop {
display: none;
}
.mobile {
background-color: whitesmoke;
}


/* ----Section Grouped Styles------*/
.title,
#Portfolio,
#Skills,
#Contact,
.tag-name,
.mobile,
.desktop,
.footer-name,
.main-nav a {
text-transform: capitalize;
font-style: italic;
}

.main-footer li:hover,
.main-nav li:hover {
color: lightskyblue;
background-color: lightgray;
transition: 1s;
} 

#Portfolio,
#Skills,
#Contact {
background-color: whitesmoke;
font-size: 2em;
}

#Contact,
#Portfolio,
#Skills {
width: 90%;
margin-left: 5%;
}


/* ----@media Query Styles------*/

@media (min-width: 768px) {

.main-header,
.main-footer,
.main-nav ul,
.footer-nav,
.contact-footer,
.profile,
.row,
.col,
.skills-div
{
display: flex;
}

h1 {
margin: 0em 0;
margin-top: 20px;
}

header a {
padding: 0;
}
.row{
padding-top: 20px;
padding-bottom: 20px;
}

.col {
flex-direction: column;
}

.card {
width: 98%;
margin-left: 1%;
padding-bottom: 15%;
}

.profileimg-kol {
width: 70%;
}
.profilebg-kol{
text-align: left;
line-height: 1.5;
font-size: 1.2em;
}

.main-header {
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.profilebg-kol {
order: -1;
}

main p {
width: 100%;
padding: 0;
}

.skills-div{
justify-content: space-around;
/* text-align: left; */
}

.devskills {
margin-top: 4%;
margin-right: 4%;
height: 10%;
width: 300px;
}

.contact-footer {
justify-content: center;
} 

.contact-footer p {
width: 450px;
}

.mobile {
display: none;
}
.desktop {
display: flex;
background-color: whitesmoke;
}

}

@media (min-width: 1024px) {

.card {
width: 30%;
padding-bottom: 0;
}
.profile {
    /* align-items: center; */
justify-content: space-between;
}
.profileimg-kol {
max-width: 50%;
}
.profilebg-kol{
width: 47%;
margin: 0;
font-size: 1.5em;
}
.main-header { 
flex-direction: row;
justify-content: space-around;
}

.row {
flex-direction: column;
width:97%;
padding: 30px 0;
}
.col {
flex-direction: row;
justify-content: space-around;
line-height: 1.4;
padding-bottom: 4%;
}
main p {
    width: 82%;
}

ul.skills {
text-align: left;
list-style: circle;
margin-left: 85px;
}

}
