* {
    box-sizing: border-box;
}


/* ----Base Styles------*/

body {
background-color: lightcyan;
text-align: center;
font-size: 16px;
font-family: 'Varela Round ', sans-serif;
line-height: 1.4;

}
ul {
    padding: 0;
}

/* ----Link Styles------*/

.footer-nav a,
.main-nav a {
text-decoration: none;
color: black;
}

a:hover {
color: rgb(0, 162, 255);
} 

/* ----Section Styles------*/

.main-nav li {
list-style-type: none;
padding: 7px 15px;
font-size:  1.4em; 
margin: 10px;
background-color: whitesmoke;
}

.main-footer{
    display: flex;
    margin-left: 3%;
    width: 94%;
}

.footer-name{
    margin-right: auto;
}

.footer-nav li {
list-style-type: none;
padding: 5px;
font-size:  15px; 
margin: 10px;

}
.main-footer {
border-top: white solid 5px;
}


.main-header{
margin-top: 0;
padding-top: .5em;
padding-bottom: .5em;
width: 100%;
}

.profile{
    border-top: white solid 5px;
    width: 90%;
    margin: auto;
}
.profileimg-kol {
    width: 100%;
    }
    .profilebg-kol {
    padding: 10px;
    margin: 0 auto;
     width: 95%;
    text-align: center;
    font-size: 1em;
    line-height: 1.4;
    }

.portfolio {
margin-top: 70px;
margin-bottom: 35px;

}
#Portfolio,
#Skills,
#Contact {
    background-color: whitesmoke;
}

.skills-div{
    width: 90%;
    margin: auto;
    background-color: antiquewhite;
}
#Portfolio,
#Skills {
    width: 90%;
    margin-left: 5%;
}

main {
background-color: white;
width: 90%;
margin: 0 auto;

}

main p {
padding:5px;
width: 82%;
margin: 0 auto;

}

#Skills {
    font-size: 1.5em;
}

.skills {
    list-style-type: none;
}
.core {
    text-decoration: underline;
    font-size: 1.4em;
}

.contact-footer {
margin-top: 100px;
}


.contact-p {
    width: 90%;
    margin-left: 9px;
    }
  
/* ----@media Query Styles------*/

@media (min-width: 768px) {

.main-header,
.main-footer,
.main-nav ul,
.footer-nav,
.contact-footer,
.profile,
.row,
.col,
.skills-div
{
display: flex;
}

.main-header,
.main-footer,
.row { 
width: 87%;
margin: 0 auto;
}
.row{
    line-height: 1.4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile {
    margin: auto;
}
.profileimg-kol {
width: 36%;
}
.profilebg-kol{
text-align: left;
line-height: 1.5;
}

.contact-footer p {
width: 450px;
}

.main-header {
flex-direction: row;
align-items: center;
justify-content: space-between;
}


.profilebg-kol {
order: -1;
}

.col {
flex-wrap: wrap;
/* flex: 1; */
}
.skills-div{
    justify-content: space-around;
    background-color: antiquewhite;
}

.devskills {
    margin: 1%;
    height: 10%;
}
.contact-footer {
flex-direction: column;
justify-content: center;
align-items: center;
} 
main p {
    width: 90%;
}

}

@media (min-width: 1025px) {
.main-header,
.main-footer{
width: 87%;
}
.row {
    width:97%;
    align-items: center;
    padding: 30px 0;
}
.secondary-col {
    padding-right: 5px;
}
.profile {
    justify-content: space-between;
    margin: auto;
}
.profileimg-kol {
max-width: 50%;
}
.profilebg-kol{
width: 47%;
margin: 0
}
.main-header { 
justify-content: space-between;
}

ul.skills {
    text-align: left;
    list-style: circle;
    margin-left: 85px;
    }


.row {
flex-wrap: nowrap;
flex-direction: column;
}
.col {
flex-wrap: nowrap;
line-height: 1.4;

}
main p {
    width: 82%;
}

}


